<html lang="ko" xmlns:th="https://www.thymeleaf.org" xmlns="https://www.w3.org/1999/xhtml">
    <!-- 왼쪽 메뉴목록, 절대 건드리지 말 것! -->
    <nav th:fragment="navbar" class="navbar">
        <div th:each="menu : ${always}">
            <a th:text="${menu.name}" class="navi-menu navi-default" th:href="${menu.url}" th:if="${menu.type == 'in'}"></a>
            <a th:text="${menu.name}" class="navi-menu navi-default" th:href="${menu.url}" th:if="${menu.type == 'tab'}" target="_blank"></a>

            <!-- 하위메뉴들 -->
            <a th:if="${menu.type == 'dropdown'}" class="navi-menu navi-default navi-child" href="#">
                <span th:text="${menu.name}"></span>
                <i id="group-arrow" class="fa fa-caret-down"></i>
            </a>
            <div class="navi-dropmenu" th:if="${not #lists.isEmpty(menu.submenu)}">
                <a th:each="sub : ${menu.submenu}" th:text="${sub.name}" class="navi-menu navi-default" th:href="${sub.url}" th:if="${sub.type == 'in'}"></a>    
                <a th:each="sub : ${menu.submenu}" th:text="${sub.name}" class="navi-menu navi-default" th:href="${sub.url}" th:if="${sub.type == 'tab'}" target="_blank"></a>    
            </div>
        </div>
    </nav>
</html>