<html lang="ko" xmlns:th="https://www.thymeleaf.org" xmlns="https://www.w3.org/1999/xhtml">
    <head>
        <link rel="icon" href="/favicon.ico" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1, minimum-scale=1">
        <link href="/css/default.css" rel="stylesheet">
        <title>새 레이어</title>
    </head>
    <body>
        <nav>
            <div>
                <ul>
                    <li>
                        <a href="/notice">공지사항</a>
                    </li>
                    <li>방송공지</li>
                </ul>
            </div>
        </nav>
    </body>
</html>