<html lang="ko" xmlns:th="https://www.thymeleaf.org" xmlns="https://www.w3.org/1999/xhtml" layout:decorate="~{default/skin/basic}">
    <head>
        <title th:text="|T'Friends 	&VerticalSeparator; 게시판 이름|"></title>
        <link href="/css/search.css" rel="stylesheet" />
        <link href="/css/boardlist.css" rel="stylesheet" />
        <link href="/css/community.css" rel="stylesheet" />
        <link href="/css/page.css" rel="stylesheet" />
    </head>
    <th:block layout:fragment="navbar-custombtn">
        <button class="top-menu" onclick="openSearch('block')">
            <i class="fa fa-search"></i>
        </button>
    </th:block>
    <th:block layout:fragment="search">
        <div th:replace="~{cms/material :: search}"></div>
    </th:block>
    <th:block layout:fragment="main">
        <div class="head">
            <span th:text="${detail.name}"></span>
        </div>
        <div class="community">
            <div class="attribute" id="board-layout">
                <form id="board-management" onsubmit="return false">
                    <table class="board-table" th:unless="${#lists.isEmpty(detail.result)}">
                        <thead>
                            <th th:if="${authen != null && authen.roles == 'ROLE_ADMIN'}" class="checklist-delete">
                                <input type="checkbox" class="checklist-delete-all" onclick="checkALL(this)" />
                            </th>
                            <th style="width: 50px; text-align: right; padding-right: 4px;">#</th>
                            <th class="board-head-title">Title / Writer</th>
                        </thead>
                        <tbody>
                            <tr th:each="list : ${detail.result}">
                                <td th:if="${authen != null && authen.roles == 'ROLE_ADMIN'}" class="checklist-delete">
                                    <input name="checkdelete" class="checklist-delete-radio" type="checkbox" onclick="checkOnce('.checklist-delete-all')" th:value="${list.no}" />
                                </td>
                                <td class="board-list-number" th:text="${list.no}">00000</td>
                                <td>
                                    <a th:href="|${hash}/read/${list.no}${detail.page.uriQuerys(detail.page.page)}|">
                                        <div>
                                            <span th:text="${list.title}"></span>
                                            <span class="board-new" th:if="${list.newArticle == 1}">N</span>
                                        </div>
                                        <div class="board-list-detail">
                                            <div class="regdate" th:if="${#dates.format(list.datatime.regdate, 'yyyy-MM-dd') == #dates.format(detail.current, 'yyyy-MM-dd')}" th:text="${#dates.format(list.datatime.regdate, 'HH:mm')}">00:00</div>
                                            <div class="regdate" th:unless="${#dates.format(list.datatime.regdate, 'yyyy-MM-dd') == #dates.format(detail.current, 'yyyy-MM-dd')}" th:text="${#dates.format(list.datatime.regdate, 'yyyy-MM-dd')}">1972-11-21</div>
                                            <div class="writer" th:text="${list.name}">User</div>
                                        </div>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="board-table" th:if="${#lists.isEmpty(detail.result)}">
                        <td style="height: 200px; vertical-align: middle; text-align: center; font-size: 20px;">작성된 글이 없어요!</td>
                    </table>
                    <div th:unless="${#lists.isEmpty(detail.result)}" th:insert="~{cms/materialv2 :: pagination}"></div>
                    <input type="hidden" name="search_type" th:value="${detail.page.search_type}" />
                    <input type="hidden" name="word" th:value="${detail.page.word}" />
                    <input sec:authorize="isAuthenticated()" type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                </form>
                <div sec:authorize="isAuthenticated()" style="margin-bottom: 10px; padding: 0 10px;">
                    <button class="btn btn-blue" th:if="${detail.permission.write &lt;= authen.grade || authen.roles == 'ROLE_ADMIN'}" th:onclick="|href('@{${hash}}/write')|">새로 작성하기</button>
                    <button class="btn btn-red" onclick="confirmDel('#board-management')" th:if="${authen != null && authen.roles == 'ROLE_ADMIN'}">선택항목 삭제</button>
                </div>
            </div>
            <div id="board-side">
                <!-- <div>
                    <table class="board-table">
                        <thead>
                            <th class="board-head-title" th:text="${echo[0].subname != null ? echo[0].subname : echo[0].menuname}"></th>
                        </thead>
                        <tbody>
                            <tr th:each="list : ${echo[1]}">
                                <td>
                                    <a style="display: block;" th:href="|/community/${echo[0].menuurl}/read/${list.no}|">
                                        <span th:text="${list.title}"></span>
                                        <span class="board-new" th:if="${list.newArticle == 1}">N</span>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a style="display: block;" th:href="|/community/${echo[0].menuurl}|">More</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div> -->
            </div>
        </div>
    </th:block>
    <th:block layout:fragment="scripts">
        <script src="/js/board.js"></script>
    </th:block>
</html>