<html lang="ko" xmlns:th="https://www.thymeleaf.org" xmlns="https://www.w3.org/1999/xhtml" layout:decorate="~{default/skin/basic}">
    <head>
        <title>T'Friends</title>
        <style>
            .board-index {
                width: 100%;
                max-width: 1024px;
                word-wrap: break-word;
                position: relative;
                top: 50%;
                left: 50%;
                -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, 10px);
                margin-bottom: 20px;
            }

            .index-title {
                font-weight: bolder;
                font-size: 28pt;
            }
        </style>
        <link href="/css/community.css" rel="stylesheet" />
    </head>
    <th:block layout:fragment="main">
        <div th:if="${welcome.value == '0'}" th:utext="${welcome.tag.option1}"></div>
        <div th:if="${welcome.value == '1'}" class="board-index">
            <div th:text="${board.title}" class="index-title"></div>
            <div th:utext="${board.htmlContent}"></div>
        </div>
    </th:block>
</html>