body {
    margin: 0;
    font-family: 'SUIT-Regular';
}

main {
    z-index: 0;
    margin-top: 70px;
    padding: 5px 15px;
    margin-bottom: 50px;
    max-width: 1024px;
    position: relative;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, 0);
}

h1, h2, h3, h4, h5, h6 {
    margin: 6px;
}

footer {
    z-index: 5;
    background-color: antiquewhite;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px;
}

@media screen and (max-width: 650px) {
    main {
        padding: 5px 0;
    }
    
    footer {
        font-size: 10px;
    }
}